<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VirtueVille Auth</title>
    <link rel="stylesheet" href="/data/auth.css" />
  </head>
  <body>
    <div class="container">
      <!-- Forms container -->
      <div class="forms-container">
        <!-- Signup Form -->
        <div class="form-control signup-form">
          <form action="/register" method="POST">
            <h2>Signup</h2>
            <input
              type="text"
              name="username"
              placeholder="Username"
              required
            />
            <input type="email" name="email" placeholder="Email" required />
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
            <input type="password" placeholder="Confirm Password" required />
            <button type="submit">Signup</button>
          </form>
        </div>

        <!-- Signin Form -->
        <div class="form-control signin-form">
          <form action="/login" method="POST">
            <h2>Signin</h2>
            <input
              type="text"
              name="username"
              placeholder="Username"
              required
            />
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
            <button type="submit">Signin</button>
          </form>
        </div>
      </div>

      <!-- Intro container -->
      <div class="intros-container">
        <div class="intro-control signin-intro">
          <div class="intro-control__inner">
            <h2>Welcome back!</h2>
            <p>We are happy to see you again. Sign in to continue.</p>
            <button id="signup-btn">No account yet? Signup</button>
          </div>
        </div>
        <div class="intro-control signup-intro">
          <div class="intro-control__inner">
            <h2>Join VirtueVille!</h2>
            <p>Create an account to access exclusive offers and features.</p>
            <button id="signin-btn">Already have an account? Signin</button>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="/data/auth.js"></script>
  </body>
  <div class="magic-glow"></div>
</html>
